<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <meta http-equiv='x-ua-compatible' content='ie=edge'>

  <title>
    Teste dos Quadrantes
  </title>

  <link rel='shortcut icon' href='{{ site.baseurl}}/assets/img/favicon.ico'  type='image/x-icon'>
  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/vendor/bootstrap.min.css'>
  <link rel='stylesheet' href='{{ site.baseurl}}/assets/css/main.css'>
</head>
