.form {

  max-width: 60%;
  
  display: flex;
  flex-direction: column;

  margin: 5rem 0 0 0;

  align-items: center;

  .control {

    box-shadow: none !important;
    background-color: transparent;
    border: none;

    color: gray;
  }
}
