.icon {

  width: 3rem;
  height: 3rem;

  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  
  border-radius: 50%;

  &--book {

    background-image: url($baseurl + "/assets/img/icons/book.png");
  }

  &--headphone {

    background-image: url($baseurl + "/assets/img/icons/headphones.png");
  }

  &--microphone {

    background-image: url($baseurl + "/assets/img/icons/microphone.png");
  }

  &--pencil {

    background-image: url($baseurl + "/assets/img/icons/pencil.png");
  }
}
