.question {

  &_title {

    font-family: 'Poppins', sans-serif;
    color: #615e5e;
    font-size: 1.2rem;
  }
}

.option {

  display: block;
  
  background: #fff;
  
  width: 100%;
  padding: 0.4rem 1rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  
  color: #969090 !important;
  text-align: left;

  &:hover,
  &:focus {
    
    background: white;
    border-color: transparent;
    cursor: pointer;
  }

  &:hover,
  &:focus {

    scale: 0.99;
  }
}

.btn-check {

  &:checked + .option,
  &:focus + .option,
  &:active + .option {

    box-shadow: none !important;

    background: white;
    border-color: #51585e;


    scale: 1 !important;
  }
}
