.results {

  &_title {

    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #615e5e;
    text-align: center;
  }
}

.block {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: white;

  margin: 1rem;
  padding: 1rem;
  
  width: 10rem;
  height: 9rem;

  &.highlight {

    background: #7a7272;

    color: white;
  }
}
