<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container d-flex flex-column align-items-center">
      {{ content }}

      <form id="testeQuadrante" class="form">
        <div class="questions_container" role="group">
        </div>

        <div class="results_container d-none" role="group">
          <h1 class="results_title">Resultado</h1>

          <div class="container">

            <div class="row justify-content-center">
              <div class="block" data-label="listening">
                <i class="icon icon--headphone"></i>
                Listening
              </div>
  
              <div class="block" data-label="reading">
                <i class="icon icon--book"></i>
                Reading
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="block" data-label="speaking">
                <i class="icon icon--microphone"></i>
                Speaking
              </div>
  
              <div class="block" data-label="writing">
                <i class="icon icon--pencil"></i>
                Writing
              </div>
            </div>

          </div>
        </div>

        <div class="btn-group" role="group" aria-label="Controles do Formulário">
          <button type="button" 
                  data-control="previous" 
                  class="control btn btn-secondary d-none">voltar</button>

          <button type="button" 
                  data-control="next" 
                  class="control btn btn-secondary">avançar</button>
        </div>
      </form>
    </div>

    <script src='{{ site.baseurl}}/assets/js/quadrante.js'></script>
    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
